html,
body {
  padding: 0;
  margin: 0;
  font-family: "Encode Sans Expanded", sans-serif;
  background: #848999 !important;
  /* background: linear-gradient(
    63deg,
    rgb(242, 168, 168) 2.9%,
    rgb(94, 46, 165) 102.1%
  ) !important; */
  /* background: linear-gradient(
    16.5deg,
    rgb(203, 189, 240) 24.7%,
    rgb(253, 184, 169) 68.9%
  ) !important; */
  /* background: linear-gradient(
    to right,
    rgb(198, 66, 110),
    rgb(100, 43, 115)
  ) !important; */
}

.navitem {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 20px;
  overflow: hidden;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0.3;
  transition-duration: 1s ease;
  filter: grayscale(100%);
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  filter: grayscale(0%);
}

.slick-dots li button:before {
  padding-top: 30px;
  color: white !important;
}
/* @media screen and (max-width: 480px) {
  .slick-dots li button:before {
    margin-top: 100px;
  }
} */
